let mapleader = " "

set number relativenumber
set scrolloff=8
set incsearch
set clipboard+=unnamed

set NERDTree

sethandler <C-C> a:ide
sethandler <C-X> a:ide
sethandler <C-V> a:vim
sethandler <C-S> a:ide

noremap <S-L> gt
noremap <S-H> gT
nnoremap <leader>d :action CloseEditor<CR>
nnoremap <leader>e :NERDTreeFocus<CR>
nnoremap <leader>c gcc
xnoremap <leader>c gc

nnoremap <leader>f :action SearchEverywhere<CR>
nnoremap <leader>r :action Run<CR>
nnoremap <leader>s :action Stop<CR>

nnoremap <A-J> :m .+1<CR>==
nnoremap <A-K> :m .-2<CR>==
inoremap <A-J> <Esc>:m .+1<CR>==gi
inoremap <A-K> <Esc>:m .-2<CR>==gi
vnoremap <A-J> :m ">+1<CR>gv=gv
vnoremap <A-K> :m "<-2<CR>gv=gv

Plug "machakann/vim-highlightedyank"
Plug "tpope/vim-commentary"
Plug "preservim/nerdtree"

let g:highlightedyank_highlight_duration = "500"
