export TERMCMD="st"
export COLORTERM="truecolor"


xrandr

[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

echo XRESOURCES

while true; do
	inotifywait ~/.Xresources
	[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
done &

# Background
xsetroot -solid $(xrdb -query | grep '*.background' | awk '{ print $2 }')

setxkbmap -option caps:swapescape

while true; do
	xsetroot -name "$(date '+%H:%M') | $( acpi | gawk 'match($0, /([0-9]+%)/, a) {print a[1]}' )"
  sleep 1m
done &

exec dwm
