/* Foreground, background, and cursor colors */
$background: #0f0f0f;
$foreground: #d7d8d4;
$cursor: #d7d8d4;

/* 16 ANSI colors */
$color0: #0f0f0f;
$color1: #4A4D51;
$color2: #65666C;
$color3: #948872;
$color4: #B77BAE;
$color5: #C07EB5;
$color6: #A2A49D;
$color7: #d7d8d4;
$color8: #969794;
$color9: #4A4D51;
$color10: #65666C;
$color11: #948872;
$color12: #B77BAE;
$color13: #C07EB5;
$color14: #A2A49D;
$color15: #d7d8d4;
