@import "colors.scss";

@function contrast-color($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $luminance: (0.299 * $r + 0.587 * $g + 0.114 * $b) / 255;
  @return if($luminance > 0.5, black, white);
}

* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font";
  color: contrast-color($color1);
}

.horizontal {
  padding: 0 20px;
  margin: 4px 20px;
}

.tray menu {
  border-radius: 5px;
	padding: 5px 0px;

	background-color: rgba($color9, 0.75);

	>menuitem {
		padding: 2px 8px;

		&:disabled label {
			color: $color12;
		}

		&:hover {
			background-color: $color3;
		}
	}

	separator {
		background-color: $color4;
		padding-top: 1px;

		&:last-child {
			padding: unset;
		}
	}
}
