@import url("../../.cache/wal/colors-gtk.css");

* {
	all: unset;
  font-size: 14px;
  font-family: "CaskaydiaCove Nerd Font";
  transition: 200ms;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  color: @color7;
	animation: 100s linear infinite transparentBg;
  animation-delay: -50s;
  animation-play-state: paused;
  border: 1px solid #6e6a86;
}

@keyframes transparentBg {
  from {
		background-color: transparent;
	}
  to {
		background-color: @background;
	}
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @color4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @color7;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @color7;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: @color7;
  background-color: @background;
  border: 1px solid @color3;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @background;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @background;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @color7;
  background-color: @background;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: @color7;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @background;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: @background;
  color: @color7;
  padding: 1rem;
  border: 1px solid @color3;
}

.control-center .widget-title {
  color: @color7;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @color7;
  background-color: @background;
  border: 1px solid @color3;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @background;
}

.control-center .widget-title button:active {
  background-color: @background;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: @background;
  color: #e0def4;
  border: 1px solid @color3;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid @color3;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: @color7;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: @color7;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: @color3;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: @background;
  border: 1px solid @color3;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @background;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @background;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: @color7;
  background-color: @background;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: @color7;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @background;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: @background;
}

.notification.low progress,
.notification.normal progress {
  background-color: @background;
}

trough {
  background-color: @background;
}

.control-center trough {
  background-color: @background;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: @background;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @color;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @background;
  border: 1px solid @color3;
}

.widget-dnd > switch:checked slider {
  background: @color5;
}

.widget-dnd > switch slider {
  background: @color4;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
